<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IKundenService" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IAktienInfo1" />
        <binding name="WSDualHttpBinding_IAktienInfo" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Kundenservice/Service2/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAktienInfo1"
                contract="BookReference.IAktienInfo" name="WSDualHttpBinding_IAktienInfo1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Kundenservice/Service2/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAktienInfo"
                contract="ServiceReference1.IAktienInfo" name="WSDualHttpBinding_IAktienInfo">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>